* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem; /* 1 rem = 16 px (font size of root element) */
  color: rgb(32, 32, 32);
}
ul {
  list-style: none;
  display: flex;
}
li {
  padding: 0 1rem;
}
a {
  font-size: 1.125rem;
  text-decoration: none;
  color: #e5e7eb;
  font-weight: 600;
}
main {
  flex: 1;
}
header, 
section.hero,
footer {
  background-color: #1f2937;
  color: #f5f5f5;
}
section,
footer {
  padding: 80px 240px;
}
header{
  padding: 0 240px;
}
img {
  width: 45%;
  height: auto;
  flex: 1;
  border: 1px solid #1f2937ad;
  border-radius: 8px;
}
.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 240px;
  color: #e5e7eb;
}
.header-logo {
  font-size: 1.5rem;
  color: #f9faf8;
  font-weight: 800;
}
.hero {
  display: flex;;
  align-items: center;
  gap: 36px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.hero-content {
  flex: 1;
  /* fixing class duplication*/
  font-size: 1.125rem;
  color: #e5e7eb;
}
.hero-content h2{
  font-size: 3rem;
  font-weight: 900;
  line-height: 0.9;
}
.hero-content > h2, .hero-content > p, .hero-content > button {
  margin-bottom: 1rem;
}
button {
  min-width: 200px;
  padding: 14px 22px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.125rem;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info h3 {
  margin-bottom: 36px;
  font-size: 2.25rem;
  color: #1f2937;
  font-weight: 900;
}
.container {
  display: flex;
  /*added*/
  flex-wrap: wrap;
  gap: 24px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 194px;
}
.card p {
  text-align: center;
}
.img-wrapper {
  width: 200px;
  height: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}
.img-wrapper img {
  width: 90%;
  aspect-ratio: 16/9;
  border: none;
}
.quote {
  background-color: #e5e7eb;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.quote-container p {
  margin-bottom: 0;
}
.quote-container blockquote p {
  text-align: center;
  font-size: 2.25rem;
  font-weight: lighter;
  color: #1f2937;
  font-style: italic;
  margin-bottom: 0.25rem;
}
.cta {
  padding: 80px 160px;
}
.cta-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3882f6;
  padding: 48px 120px;
  border-radius: 8px;
}
.left-content {
  flex: 0 1 60%;
  color: #f9faf8
}
.left-content h4 {
  font-size: 1.5rem;
  font-weight: 800;
}
.left-content p {
  font-size: 1.125rem;
  margin-bottom: 0;
}
.cta-content button {
  margin-bottom: 0;
  flex-shrink: 0;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: 700;
  font-size: 1.25rem;
  border: 2px solid #f9faf8;
  border-radius: 8px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125rem;
  padding: 36px 240px;
}